* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

section p {
    font-size: 8rem;
}


